.tag{
    color: white;
    background: #7cc4c3;
    width: auto;
    padding: 15px 30px;
}
.tagsContainer{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 420px;
    margin: 30px auto;
}
.tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
}