.question{
    font-weight: bold;
    margin: 15px;
    margin-top: 0;
}
.qnaContainer{
    color: white;
    background: #7cc4c3;
    border-radius: 20px;
    padding: 30px;
}
a{
    text-decoration: none;
    color: white;
}