.askQuestionContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textInput{
    width: 90%;
    margin: 0px 60px;
    height: 50px;
}
.submitButton{
    height: 30px;
}